﻿
@{
    ViewBag.Title = "Admin";
    var user = Session["AdminLoginUser"] as Oyun_Ansiklopedisi_Core.Entity.User; 
}

<h2> Admin Paneline Hoşgeldiniz</h2>
<ul>
    <li>
        <a href="/Admin/Users">Üye Yönetimi</a>
    </li>
    <li>
        <a href="/Admin/Games">Oyun Yönetimi</a>
    </li>
    <li>
        <a href="/Admin/Categories">Kategori Yönetimi</a>
    </li>
    <li>
        <a href="/Admin/Platforms">Platform Yönetimi</a>
    </li>
</ul>

