﻿@model IEnumerable<Oyun_Ansiklopedisi_Core.Entity.Category>

@{
    foreach (var item in Model)
    {
        <li class="item"><a class="list-group-item-heading" href="#">@item.Name</a></li>
    }
}
