﻿@model List<Oyun_Ansiklopedisi_Core.Entity.Game>
@{
    ViewBag.Title = "Index";
}

<h3>Son Eklenen 5 Oyun</h3>
@{ 
    foreach(var item in Model)
    {
        <div class="gameBox">
            <p class="title">@item.Name </p>
            <img src="@item.ImageUrl" width="200" <br/>

        </div>
    }
}
<div class="row"></div>
<style>
    .gameBox{
        width:200px;
        float:left;
        margin:10px;
        border:2px solid #808080;
        padding:10px;
    }
    .gameBox img{
        width:100%;
    }
    gameBox title{
        font-weight:bold;
        text-align:center;
    }
</style>