﻿ 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oyun Ansiklopedisi Admin Girişi</title>
</head>
<body>
    <form method="post"> 
        @Html.Label("Email")
        @Html.TextBox("Email")
        <br/>
        @Html.Label("Şifre")
        @Html.TextBox("Password")
        <br/>
        <Button type="submit">Giriş Yap</Button>
    </form>
</body>
</html>
