﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Oyun Ansiklopedisi    ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    
            </div>
            <div class="navbar-collapse collapse" style="float:left">
                <ul class="nav navbar-nav">
                    @Html.Action("GetMenu","Home")
                </ul>
            </div>
            <div style="float:right;color:white;">
                @{
                    if (Session["LoginUser"] == null)
                    {
                <p>
                    <a href="/uye-giris">Üye Girişi</a>|
                    <a href="/uye-kayit">Üye Kayıt</a>
                </p>
                    }
                    else
                    {
                        var usr = Session["LoginUser"] as Oyun_Ansiklopedisi_Core.Entity.User;
                        //Üye girişi yapılmış... 
                        <p>
                            Merhaba @usr.Name  @usr.LastName <br /> 
                            <a href="#">Profilim</a>|
                            <a href="#">Yorumlarım</a>|
                        </p>    
                    }
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>